<html>
    <head>
        <title>Yakubovich</title>
        <style>
            * {
                font-family: monospace;
            }
            th {
                text-align: right;
                width: 1px;
                white-space: nowrap;
            }
            body {
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>yakubovich</h1>
        <h2>Войдите в игру по ссылке, предоставленной организаторами</h2>
        <a href="/rules/">Правила</a>
    </body>
</html>
