<html>
    <head>
        <title>Yakubovich :: Problems</title>
        <style>
            * {
                font-family: monospace;
            }
            th {
                text-align: right;
                width: 1px;
                white-space: nowrap;
            }
            body {
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>yakubovich</h1>
        <h2>Условия задач</h2>
        <ul>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111625" target="_blank">Буква &quot;а&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=200" target="_blank">Буква &quot;б&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=188" target="_blank">Буква &quot;в&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=513" target="_blank">Буква &quot;г&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=113073" target="_blank">Буква &quot;д&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111765" target="_blank">Буква &quot;е&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=723" target="_blank">Буква &quot;ё&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111722" target="_blank">Буква &quot;ж&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1179" target="_blank">Буква &quot;з&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111702" target="_blank">Буква &quot;и&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=721" target="_blank">Буква &quot;й&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111857" target="_blank">Буква &quot;к&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=112554" target="_blank">Буква &quot;л&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111787" target="_blank">Буква &quot;м&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111744" target="_blank">Буква &quot;н&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1251" target="_blank">Буква &quot;о&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111707" target="_blank">Буква &quot;п&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111727" target="_blank">Буква &quot;р&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=715" target="_blank">Буква &quot;с&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=865" target="_blank">Буква &quot;т&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111751" target="_blank">Буква &quot;у&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1836" target="_blank">Буква &quot;ф&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=720" target="_blank">Буква &quot;х&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=3481" target="_blank">Буква &quot;ц&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=3018" target="_blank">Буква &quot;ч&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1181" target="_blank">Буква &quot;ш&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1837" target="_blank">Буква &quot;щ&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1631" target="_blank">Буква &quot;ъ&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=2766" target="_blank">Буква &quot;ы&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=727" target="_blank">Буква &quot;ь&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1632" target="_blank">Буква &quot;э&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1838" target="_blank">Буква &quot;ю&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=112555" target="_blank">Буква &quot;я&quot;</a></li>
        </ul>
    </body>
</html>
