<html>
    <head>
        <title>Yakubovich :: Problems</title>
        <style>
            * {
                font-family: monospace;
            }
            th {
                text-align: right;
                width: 1px;
                white-space: nowrap;
            }
            body {
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>yakubovich</h1>
        <h2>Условия задач</h2>
        <ul>
    <li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111727">Буква &quot;а&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=200">Буква &quot;б&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=188">Буква &quot;в&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=513">Буква &quot;г&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=113073">Буква &quot;д&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111765">Буква &quot;е&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=723">Буква &quot;ё&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111722">Буква &quot;ж&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1179">Буква &quot;з&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111702">Буква &quot;и&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=721">Буква &quot;й&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1390">Буква &quot;к&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111625">Буква &quot;л&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111787">Буква &quot;м&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1251">Буква &quot;н&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111744">Буква &quot;о&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111707">Буква &quot;п&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=112554">Буква &quot;р&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=715">Буква &quot;с&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=11">Буква &quot;т&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=111751">Буква &quot;у&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1836">Буква &quot;ф&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=720">Буква &quot;х&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=3481">Буква &quot;ц&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=3018">Буква &quot;ч&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1181">Буква &quot;ш&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1837">Буква &quot;щ&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1631">Буква &quot;ъ&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=2766">Буква &quot;ы&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=727">Буква &quot;ь&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1632">Буква &quot;э&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=1838">Буква &quot;ю&quot;</a></li>
<li><a href="http://informatics.mccme.ru/mod/statements/view3.php?id=31407&chapterid=112555">Буква &quot;я&quot;</a></li>
        </ul>
    </body>
</html>
