<html>
    <head>
        <title>Yakubovich :: Problems</title>
        <style>
            * {
                font-family: monospace;
            }
            th {
                text-align: right;
                width: 1px;
                white-space: nowrap;
            }
            body {
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>yakubovich</h1>
        <h2>Условия задач</h2>
        <ul>
            <li>Капитал-шоу "Поле чудес" &mdash; командное соревнование, рассчитанное на 5 часов игры.</li>
            <li>Игра состоит из нескольких раундов, в каждом раунде загадано русское слово &mdash;<br/>
                существительное в именительном падеже и единственном числе.</li>
            <li>Команде предложены 33 задачи, по одной на каждую букву русского алфавита.</li>
            <li>Когда участник решает какую-либо задачу, считается, что команда "назвала" букву, которая соответствует этой задаче.<br/>
                Если буква присутствует в слове, то команде открываются все вхождения этой буквы.<br/>
                Независимо от наличия буквы в загаданном слове команда <b>получает 5 баллов</b>.</li>
            <li>Решив однажды задачу, участник не может сдавать её в проверяющую систему, в том числе и в следующих раундах игры.</li>
            <li>Участники из одной команды могут общаться друг с другом в месте, оговоренном организаторами соревнования.<br/>
                <b>Любое общение в аудитории запрещено.</b></li>
            <li>Если команда предполагает, что узнала загаданное слово, капитан команды может
                попробовать отправить эту догадку в систему yakubovich. <br/>
                Если догадка верна, команда переходит в следующий раунд. Если догадка неверна, <b>команда теряет 30 баллов</b>.<br/>
                Новую догадку капитан сможет проверить только после того, как в загаданном слове станет известна ещё хотя-бы одна новая буква.
            </li>
            <li>За угаданное слово команда <b>получает 100 баллов</b> и переходит в следующий раунд.</li>
            <li>Цель игры &mdash; набрать максимальное количество очков в отведённый период времени.</li>
        </ul>
    </body>
</html>
